body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #ffffff;
    background-color: #f60d8c;
    padding: 20px;
    margin: 0;
}

form {
    margin-top: 20px;
}

textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    margin-top: 20px;
}

p {
    color: #666;
}
